[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "==3.0.3"
flask-login = "==0.6.2"
proxmoxer = "==2.0.1"
urllib3 = "==1.26.15"
requests = "==2.31.0"

[dev-packages]

[requires]
python_version = "3.10"
