<!DOCTYPE html>
<html>
<!-- get the required files from 3rd party sources -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:wght@100&display=swap rel='stylesheet' type='text/css'>

      <!-- use the font -->
      <style>
        body {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #ffffff;
          padding: 15px;
          text-align: center;
          background-color: #1f1f1f;
        }
      </style>
<head>
<title>Lupinelab VM Control</title>
</head>
<body>
<form action="/alreadystarted" method="POST" id="form">
<p><b>{{itemtoaction.name}}</b> is currently running.</p>
<p>Would you like to shutdown <b>{{itemtoaction.name}}</b>?
<input type="submit" value="Ok"></p>
</form>
<form action="/">
    <input type="submit" value="Back" />
</body>
</html>
