<!DOCTYPE html>
<html>
<!-- get the required files from 3rd party sources -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:wght@100&display=swap rel='stylesheet' type='text/css'>

      <!-- use the font -->
      <style>
        body {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #ffffff;
          padding: 15px;
          text-align: center;
          background-color: #1f1f1f;
          line-height: 1.2;
}
      </style
<head>
<title>Lupinelab VM Control</title>
<script>
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}

window.onload = timedRefresh(30000);
</script>
</head>
<body>
<form action="/refresh">
    <input type="submit" value="Refresh" />
</form>
<br>
<br>
<form action="/" method="POST" id="form">
    <p>Select GPU enabled VM to start/stop:</p>
    <p>    {%for vm in vms %}
        {% if sharedgpu in vm.pcie %}
        {% if vm.status == "started" %}
        <button style="background-color:#d9ffd2; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value={{vm.vmid}}>{{vm.name}}</button>
        {% endif %}
        {% if vm.status == "stopped" %}
        <button style="background-color:#ffb3b3; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value={{vm.vmid}}>{{vm.name}}</button>
        {% endif %}
        {% endif %}
        {% endfor %}</p>
<br>
    <p>Select service VM to start/stop:</p>
    <p>    {%for vm in vms %}
        {% if not sharedgpu in vm.pcie %}
        {% if vm.status == "started" %}
        <button style="background-color:#d9ffd2; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value={{vm.vmid}}>{{vm.name}}</button>
        {% endif %}
        {% if vm.status == "stopped" %}
        <button style="background-color:#ffb3b3; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value={{vm.vmid}}>{{vm.name}}</button>
        {% endif %}
        {% endif %}
        {% endfor %}</p>
    <br>
    <p>Select node to start/stop:</p>
    <p>    {%for node in hosts.keys() %}
        {% if hosts[node]["status"] == "started" %}
        <button style="background-color:#d9ffd2; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value="{{node}}">{{node}}</button>
        {% endif %}
        {% if hosts[node]["status"] == "stopped" %}
        <button style="background-color:#ffb3b3; border:none; cursor:pointer; padding:16px 32px; margin:8px; border-radius: 4px; text-align:center; text-decoration:none; display:inline-block" name="itemtoaction" type="submit" value="{{node}}">{{node}}</button>
        {% endif %}
        {% endfor %}</p>
</form>
</body>
</html>
